<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Sign-In</title>
</head>
<body>
    <div id="head">
        <div class="h1">

        </div>
        <div class="h2">
            <h1>TO DO LIST <img src="https://img.icons8.com/wired/64/000000/checklist.png" style="margin-bottom:-12px"/></h1>
        </div>
        <div class="h3">
            <a href="signup"> <h2 class="small-head" style="color:white;text-align:center">SIGN-UP</h2></a>
        </div>
    </div>
    <div id="bottom">
        <div class="b1">
            <div class="b1_1">
                <h2 class="small-head">SIGN-IN</h2>
                <form class="sign-in" action="/sign-in" method="POST">
                    <label class="form-element"><b>Email</b></label>
                    <input class="input-box" type="email" placeholder="Email" name="email" required>
                    <label class="form-elemen"><b>Password</b></label>
                    <input class="input-box" type="password"  name="password" placeholder="Password" required>
                    <button class="button" type="submit">Sign In</button>
                    <p style="text-align: center;">Not a Member?<a href="/signup"> Sign Up</a></p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>